################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user

.vs
bin
obj
sample-data

/src/AzUtility.BlobUploader/Properties
/src/AzUtility.CosmosDBCompass/Properties/launchSettings.json

